<p id="notice"><%= notice %></p>

<p>
  <b>Duration:</b>
  <%= @workoutsession.duration %>
</p>


<%= link_to 'Edit', edit_workoutsession_path(@workoutsession) %> |
<%= link_to 'Back', workoutsessions_path %>
